<div style="margin-top: 20px;"></div>
	<div class="container">
		<div class= "row">
			<div class="col-sm-12">
				<div class="row">
					<div class = "col-3 col-sm-3">
				    	<div style="width: 100%; height: 500px; padding: 3px; border: 3px solid gray; margin: 0;">
					    	
			
				    		<div style="position:absolute; bottom:0; width:85%; height:75px; text-align:center;">
				    			<%= link_to "Inventory", inventory_path %> <br>
				    			<%= link_to "Status", status_path %>
				    		</div>
				    
					  	</div>
					</div>
	    			
	    			<div class="col-8 col-sm-8">
	       				<div style="width: 100%; height: 500px; padding: 3px; border: 3px solid gray; margin: 0;">
	       					<div class="row">
	       						<div class="col-sm-12">
		       						<div class="container">
			       						<table>
			       							<tr>
			       								<th>POWER UPS</th>
			       								<th>VALUE</th>
			       							</tr>
											<tr>
											   <td><%= image_tag("Power up 1.png", size: "100x100") %></td>
											   <td><%= image_tag("Power up 1.png", size: "100x100") %></td>
											   
											</tr>
											<tr>
												<td><%= image_tag("Power up 1.png", size: "100x100") %></td>
											  	<td><%= image_tag("Power up 1.png", size: "100x100") %></td>
											</tr>
											<tr>
												<td><%= image_tag("Power up 1.png", size: "100x100") %></td>
											  	<td><%= image_tag("Power up 1.png", size: "100x100") %></td>
											</tr>
											<tr>
												<td><%= image_tag("Power up 1.png", size: "100x100") %></td>
												<td><%= image_tag("Power up 1.png", size: "100x100") %></td>
											</tr>
										</table>
	       							</div>
	       						</div>
								<div class="col-sm-2">
									<div class="progress" style="margin-top: 10px; visibility: hidden;">
									  <div class="progress-bar progress-bar-danger" role="progressbar" style="width:40%">
							  		</div>
								</div>
							</div>
	       				</div>
	       				<div class="row">
	       					<div class="col-sm-4">
	       			
							</div>
	       				</div>
		  			</div>
				</div>
	     		
	     		<div class= "col- 11 col-sm-11">
					<div style="width: 100%; padding: 3px; border: 3px solid gray; margin-top: 15px;">
						<div class="row">
							<div class="col-sm-2" style = "visibility: hidden;">
								<%= image_tag("Ex Raid small.png", size: "100x100") %>	
							</div>
							<div class="col-sm-2">
								<h4 style="visibility: hidden;">HP:</h4><br>
								<h4 style="visibility: hidden;">Status:</h4>
							</div>
							<div class="col-sm-2">
								<div class="progress" style="margin-top: 10px; visibility: hidden;">
							  		<div class="progress-bar progress-bar-success" role="progressbar" style="width:100%">
							  	</div>
							</div>		
						</div>	
					</div>
				</div>
			</div>	
		</div>
	</div>
</div>
		
		
		
