<<<<<<< HEAD
<style type="text/css">
	#btn:hover {
    background-color: #A2B5CD;
}
</style>
<div style="margin-top: 20px;">
	<div class="container">
		<div class= "row">
			<div class="col-sm-12">
				<div class="row">
					<div class = "col-3 col-sm-3">
				    	<div style="width: 100%; height: 500px; padding: 3px; border: 3px solid white; margin: 0;">
					    	<h5 style="color: #fff;">Ex Raid</h5>
					    	<h5 style="color:#fff;">Level 1</h5>`
				    		<div style="position:absolute; bottom:75px; width:85%; height:75px; text-align:center; color: #fff;">
				    			<%= link_to inventory_path do %>
	  								<div id= "btn" style="border-radius: 25px; border: 2px solid #fff; padding: 9px; width: 100%;height: 40px; font-family: Arial; color: #fff;">Inventory</div>
								<% end %>
						
							
								<%= link_to status_path do %>
	  								<div id= "btn" style="border-radius: 25px; border: 2px solid #fff; padding: 9px; width: 100%;height: 40px; font-family: Arial; color: #fff;">Status</div>
								<% end %>

							
								<%= link_to page4_path do %>
	  								<div id= "btn" style="border-radius: 25px; border: 2px solid #fff; padding: 9px; width: 100%;height: 40px; font-family: Arial; color: #fff;">Back</div>
								<% end %>
				    		
				    		</div>
					  	</div>
					</div>
	    			<div class="col-8 col-sm-8">
	       				<div style="width: 100%; height: 500px; padding: 3px; border: 3px solid white; margin: 0;">
	       					<div class="row">
	       						
							</div>
						</div>
	       			</div>
			 		
			</div>
			
		</div>
	</div>		
</div>		
	
=======
<div style="margin-top: 20px;">
	<div class="container">
		<div class= "row">
			<div class="col-sm-12">
				<div class="row">
					<div class = "col-3 col-sm-3">
				    	<div style="width: 100%; height: 500px; padding: 3px; border: 3px solid gray; margin: 0;">    	
			    			<div style="position:absolute; bottom:0; width:85%; height:75px; text-align:center;">
				    			<%= link_to "Inventory", inventory_path %> <br>
				    			<%= link_to "Status", status_path %>
				    		</div>
				      	</div>
					</div>
	    			<div class="col-8 col-sm-8">
	       				<div style="width: 100%; height: 500px; padding: 3px; border: 3px solid gray; margin: 0;">
	       					<div class="row">
	       						<div class="col-sm-2" style="margin: 15px; visibility: hidden;">
									<%= image_tag("Ex Raid - Combat.png", size: "120x200") %>	
								</div>
								<div class="col-sm-2" style=" margin: 15px; visibility: hidden;">
									<%= image_tag("Courageous - Combat.png", size: "120x200") %>	
								</div>
								<div class="col-sm-2" style=" margin: 15px; visibility: hidden;">
									<%= image_tag("Gunner - Combat.png", size: "120x200") %>	
								</div> 
								<div class="col-sm-2" style="margin-left: 20px; visibility: hidden;">
									<%= image_tag("Hazardous Zombie.png", size: "200x200") %>
								</div>
								<div class="col-sm-2">
									<div class="progress" style="margin-top: 10px; visibility: hidden;">
									  <div class="progress-bar progress-bar-danger" role="progressbar" style="width:40%">
							  		</div>
								</div>
							</div>
	       				</div>
	       				<div class="row">
	       					<div class="col-sm-4">
	       					</div>
	       				</div>
		  			</div>
				</div>
	     		<div class= "col- 11 col-sm-11">
					<div style="width: 100%; padding: 3px; border: 3px solid gray; margin-top: 15px;">
						<div class="row">
							<div class="col-sm-2" style = "visibility: hidden;">
								<%= image_tag("Ex Raid small.png", size: "100x100") %>	
							</div>
							<div class="col-sm-2">
								<h4 style="visibility: hidden;">HP:</h4><br>
								<h4 style="visibility: hidden;">Status:</h4>
							</div>
							<div class="col-sm-2">
								<div class="progress" style="margin-top: 10px; visibility: hidden;">
							  		<div class="progress-bar progress-bar-success" role="progressbar" style="width:100%">
								  	</div>
								</div>		
							</div>	
						</div>
					</div>
				</div>	
			</div>
		</div>
	</div>
</div>	
		
		
>>>>>>> e4e02d687da6e91bf171c575d97f755a52e91f0b
